.topbar {
  border-radius: 0;
  align-items: stretch;
  display: flex;
  width: 98%;
  background-color: #1874cd;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  min-height: 4rem;
  color: white;
  margin-left: 20px;
}

.tab {
  position: relative;
  height: 20px;
  width: 100%;
  background: white;
  z-index: 3;
  overflow: visible;
  margin-left: 20px;
}

.tab #devicerequirements {
  display: none;
}

.tab #problemdiagram {
  display: none;
}

.tab #scenario {
  display: none;
}

.tab #systembehaviours {
  display: none;
}

.tab #instructions {
  display: none;
}

.tab #simulation {
  display: none;
}

ul {
  position: relative;
  margin-left: -40px;
  margin-top: 0px;
}

#tablabel li {
  position: relative;
  padding: 0 12px 0 12px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
  color: white;
  background: #62a0cc;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  font-size: 16px;
}

#tablabel li:hover {
  opacity: 0.5;
  display: inline-block;
}

#tablabel li:focus {
  background-color: #36648B;
}

#tablabel details {
  position: relative;
  height: 4%;
  padding: 0 12px 0 12px;
  text-align: center;
  list-style-type: none;
  float: left;
  display: block;

  list-style-type: none;
  cursor: pointer;
  color: white;
  background: #62a0cc;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  font-size: 12px;
}

#requirementsPanel {
  position: relative;
  width: 98%;
  height: 700px;
  resize: none;
  display: block;
  margin-left: 20px;
}

#requirementsPanel #templates {
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  font-size: 14px;
}

#requirementsPanel #templates ul li {
  list-style : none;
  margin: 7.2px 12px;
}

#requirementsPanel #input_textarea {
  position: relative;
  margin-left: 20px;
  height: 450px;
  resize: none;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
}

#requirementsPanel #complemented_textarea {
  position: relative;
  margin-top: 2px;
  margin-left: 20px;
  height: 210px;
  resize: none;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
}

#requirementsPanel #srSCDPanel {
  position: relative;
  margin-top: 2px;
  margin-left: 20px;
  height: 680px;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
}

#requirementsPanel #srSCDPanel #srcontent {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#devicerequirementsPanel {
  position: relative;
  width: 98%;
  height: 700px;
  resize: none;
  display: block;
  margin-left: 20px;
}

#devicerequirementsPanel #devicerequirementstext {
  position: relative;
  overflow: auto;
  border: 1px solid #000;
  height: 430px;
  display: block;
  z-index: 3;
}

#devicerequirementsPanel #device_textarea {
  position: relative;
  height: 430px;
  resize: none;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
}

#devicerequirementsPanel #solvableErrorsPanel {
  position: relative;
  height: 230px;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: auto;
  display: none;
}

#devicerequirementsPanel #unsolvableErrorsPanel {
  position: relative;
  height: 230px;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: auto;
  display: none;
}

#devicerequirementsPanel #drSCDPanel {
  position: relative;
  margin-left: 20px;
  border: 1px solid #000;
  height: 680px;
  display: block;
}

#devicerequirementsPanel #drSCDPanel #drcontent {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#problemdiagramPanel {
  position: relative;
  width: 98%;
  height: 700px;
  resize: none;
  display: block;
  margin-left: 20px;
}

#problemdiagramPanel #content {
  position: relative;
  height: 680px;
  display: block;
  overflow: auto;
}

#problemdiagramPanel #informationPanel {
  position: relative;
  overflow: auto;
  height: 680px;
  display: block;
}

#problemdiagramPanel #informationPanel .title {
  position: relative;
  width: 100%;
  background: #36648B;
  cursor: pointer;
}

#systembehavioursPanel #systembehaviourstext {
  position: relative;
  overflow: auto;
  border: 1px solid #000;
  height: 680px;
  display: block;
  margin-left: 20px;
}

#systembehavioursPanel #sbSCDPanel {
  position: relative;
  margin-left: 20px;
  border: 1px solid #000;
  height: 680px;
  display: block;
  width: 94%;
}

#systembehavioursPanel #sbSCDPanel #sbcontent {
  position: relative;
  /* height: 85%; */
  display: block;
  /* overflow: auto; */
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#instructionsPanel {
  position: relative;
  overflow: auto;
  border: 1px solid #000;
  border-radius: 5px;
  width: 98%;
  height: 680px;
  display: block;
  margin-left: 20px;
}

.upload {
  position: relative;
}

.change {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.button {
  margin-left: 20px;
  margin-top: 10px;
  padding: 1px 6px;
  color: rgb(12, 11, 11);
  background: #e0e2e4;
  border: 1px solid #ddd;
  cursor: pointer;
  float: left;
  font-size: 15px;
  z-index: 5;
}

.button:hover {
  opacity: 0.5;
}

.highlight {
  color: #4b0082;
}

.introduction {
  color: #36648B;
  margin-left: 20px;
}

.introduction_not_margin_left {
  color: #36648B;
}

.detail {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  padding: 1px 6px;
  display: block;
  float: left;

  list-style-type: none;
  /* cursor: pointer; */
  color: rgb(12, 11, 11);
  background: #e0e2e4;
  border: 1px solid #ddd;
  overflow: hidden;
}

.detail summary {
  text-align: center;
  font-family: Arial;
  font-size: 15px;
}

.detail summary:hover {
  opacity: 0.5;
  cursor: pointer;
}

.detail p {
  font-size: 15px;
}

.detail p:hover {
  opacity: 0.5;
  cursor: pointer;
}

.detail ::-webkit-details-marker {
  display: none;
}

.detail ::-moz-list-bullet {
  font-size: 0;
}

#planing {
  position: absolute;
  width: 250px;
  height: 150px;
  top: 35%;
  left: 45%;
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 5;
  background-color: white;
  display: none;
}

#chooseScenario {
  position: absolute;
  width: 250px;
  height: 150px;
  top: 35%;
  left: 45%;
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 5;
  background-color: white;
  display: none;
}

/* loader */
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.srLoading{
  margin-left: 48%;
  margin-top: 43%;
}

.drLoading{
  margin-left: 48%;
  margin-top: 35%;
}

.sbLoading{
  margin-left: 48%;
  margin-top: 35%;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #1874cd;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {

  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}
