<div class="main">
  <div class="topbar">
    <nav>
      <div class="name">DSIGS —— Device Schedule Instructions Generator And Simulator</div>
    </nav>
  </div>

  <div class="tab">
    <ul id="tablabel">
      <li id="requirements" (click)="change_Menu('requirements')">Requirements</li>
      <!-- <details id="scenario">
        <summary>ScenarioDiagrams</summary>
          <p *ngFor="let path of scenariaDiagramPaths;let i = index" (click)=showSCD(i)>SCD{{i + 1}}</p>
      </details> -->
      <li id="intermediate" (click)="change_Menu('intermediate')">ProblemDiagram</li>
      <li id="rules" (click)="change_Menu('rules')">SystemBehaviours</li>
      <li id="scenario" (click)="change_Menu('scenario')">ScenarioDiagram</li>
      <li id="instructions" (click)="change_Menu('instructions')">Instructions</li>
      <li id="simulation" (click)="change_Menu('simulation')">Simulation</li>
    </ul>
  </div>

  <div id="requirementsPanel">
    <div id="templates">
      <ul>
        <li style="text-align : center"><b>Templates</b></li>
        <li><b>'ALWAYS' Requirements：</b></li>
        <!-- <li>state <b class="highlight">SHOULD ALWAYS BE ACTIVE</b></li> -->
        <li>attribute <b class="highlight">SHOULD ALWAYS BE ABOVE/BELOW</b> value</li>
        <li></li>
        <li><b>'NEVER' Requirements：</b></li>
        <!-- <li>event <b class="highlight">SHOULD NEVER HAPPEN</b></li> -->
        <li>attribute <b class="highlight">SHOULD NEVER BE ABOVE/BELOW</b> value</li>
        <li>[state1,state2,...] <b class="highlight">SHOULD NEVER OCCUR TOGETHER</b></li>
        <li></li>
        <li><b>'PREFERRED' Requirements：</b></li>
        <li><b class="highlight">PREFERRED</b> attribute <b class="highlight">IS</b> value</li>
        <li></li>
        <li><b>'IF-THEN' Requirements：</b></li>
        <li><b class="highlight">IF</b> trigger <b class="highlight">(FOR TIME)</b> <b class="highlight">THEN</b> event
        </li>
        <li><b class="highlight">IF</b> trigger <b class="highlight">(FOR TIME)</b> <b class="highlight">THEN</b> state
        </li>
        <li><b class="highlight">IF</b> trigger <b class="highlight">(FOR TIME)</b> <b class="highlight">THEN</b> effect
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li style="text-align : center"><b>Examples</b></li>
        <!-- <li>Ac.coldOn <b class="highlight">SHOULD ALWAYS BE ACTIVE</b></li> -->
        <li>Air.temperature <b class="highlight">SHOULD ALWAYS BE ABOVE</b> 0</li>
        <!-- <li>Ac.turnoncold <b class="highlight">SHOULD NEVER HAPPEN</b></li> -->
        <li>Air.temperature <b class="highlight">SHOULD NEVER BE BELOW</b> 0</li>
        <li>[Ac.coldOn,Window.wopen,...] <b class="highlight">SHOULD NEVER OCCUR TOGETHER</b></li>
        <li><b class="highlight">PREFERRED</b> Air.temperature <b class="highlight">IS</b> 25</li>
        <li><b class="highlight">IF</b> Air.temperature>30 <b class="highlight">(FOR 10m)</b> <b
            class="highlight">THEN</b> Ac.turnoncold</li>
        <li><b class="highlight">IF</b> Air.temperature>30 <b class="highlight">(FOR 10m)</b> <b
            class="highlight">THEN</b> Ac.coldOn</li>
            <li><b class="highlight">IF</b> Air.humidity>30 <b class="highlight">(FOR 10m)</b> <b
              class="highlight">THEN</b> allow ventilating the room</li>
      </ul>
    </div>

    <b id="input_introduction" class="introduction">Please Enter The Requirements:</b>
    <ngx-monaco-editor id="input_textarea" class="input" [options]="editorOptions" [(ngModel)]="requirementTexts"
      (onInit)="monacoOnInit($event)"></ngx-monaco-editor>
    <!-- <b id="complemented_introduction" class="introduction">Below Are The Requirements Complemented, Please Modify Them
      If Necessary:</b>
    <ngx-monaco-editor id="complemented_textarea" class="complemented" [options]="editorOptions" [(ngModel)]="complementedRequirements"
      (onInit)="monacoOnInit($event)"></ngx-monaco-editor> -->
      <b id="functional_introduction" class="introduction">Below Are The Synthesized Functional Requirements:</b>
    <div id="functionalRequirementsPanel" class="functionalRequirementsPanel">
      <ul *ngFor="let functionalRequirement of functionalRequirements">
        <li>{{functionalRequirement}}</li>
      </ul>
    </div>

  </div>
  <div id="intermediatePanel">
    <div class="content" id="content"></div>
    <div class="informationPanel" id="informationPanel">
      <ul>
        <li *ngIf="!open2;else elseOpen2" (click)="setOpen2()" class="title">&nbsp;+ All Phenomena</li>
        <ng-template #elseOpen2>
          <li (click)="setOpen2()" class="title">&nbsp;- All Phenomena</li>
          <div class="content">
            <table *ngIf="open2" class="content">
              <tr>
                <th>Name</th>
                <th>Initiator</th>
                <th>Receiver</th>
                <th>Description</th>
                <th>PheType</th>
              </tr>
              <tr *ngFor="let phenomonon of phenomena">
                <th>phe{{phenomonon.biaohao}}</th>
                <th>{{phenomonon.from.shortName}}</th>
                <th>{{phenomonon.to.shortName}}</th>
                <th>{{phenomonon.name}}</th>
                <th>{{phenomonon.state}}</th>
              </tr>
            </table>
          </div>
        </ng-template>
        <li *ngIf="!open4;else elseOpen4" (click)="setOpen4()" class="title">&nbsp;+ Reference Phenomena</li>
        <ng-template #elseOpen4>
          <li (click)="setOpen4()" class="title">&nbsp;- Reference Phenomena</li>
          <div class="content">
            <table *ngIf="open4" class="content">
              <tr>
                <th>Name</th>
                <th>Req</th>
                <th>Initiator</th>
                <th>Receiver</th>
                <th>Content</th>
                <th>RefType</th>
              </tr>
              <tr *ngFor="let reference of referencePhenomena">
                <th>phe{{reference.biaohao}}</th>
                <th>req{{reference.requirement.biaohao}}</th>
                <th>{{reference.from.shortName}}</th>
                <th>{{reference.to.shortName}}</th>
                <th>{{reference.name}}</th>
                <th *ngIf="reference.constraining === true">constraining</th>
                <th *ngIf="reference.constraining === false">normal</th>
              </tr>
            </table>
          </div>
        </ng-template>
        <li *ngIf="!open5;else elseOpen5" (click)="setOpen5()" class="title">&nbsp;+ PD Information</li>
        <ng-template #elseOpen5>
          <li (click)="setOpen5()" class="title">&nbsp;- PD Information</li>
          <div class="content">
            <table *ngIf="open5" class="content">Information</table>
          </div>
        </ng-template>
      </ul>
    </div>
    <b id="error_introduction" class="error_introduction introduction">Errors</b>
    <div id="errorsPanel" class="errorsPanel">
      <ul *ngFor="let error of errors">
        <li>{{error}}</li>
      </ul>
    </div>
  </div>

  <div id="scenarioPanel">
    <a [href]="imgURL" target="_blank">
    <img [src]="imgURL" class="content" id="sccontent"/>
  </a>
  </div>

  <div id="rulesPanel">
    <div class="divcontent" style="white-space:pre-wrap; height:20px" *ngFor="let rule of rules">
      {{rule}} </div>
  </div>
  <div id="instructionsPanel">
    <div class="divcontent" style="white-space:pre-wrap; height:20px" *ngFor="let instruction of instructions">
      {{instruction}} </div>
  </div>
  <div id="simulationPanel">
    <video id="video" autoplay></video>
  </div>

  <button class="upload button">UploadOntology
    <input class="change" type="file" multiple="multiple" (change)="selectedFileOnChanged($event)" />
  </button>
  <button class="button" (click)="displayChooseScenarioPanel()">ChooseScenario</button>
  <!-- <button class="button" (click)="displayPlaningPanel()">ComplementRequirements</button> -->
  <button class="button" (click)="displayPlaningPanel()">GenerateFunctionalRequirements</button>
  <!-- <button class="button" (click)="generateScenarioDiagrams()">DisplayPlanning</button> -->
  <!-- <details class="detail">
    <summary>DeriveProblemDiagram</summary>
    <p (click)="problemDiagramDerivation()">PDWithoutSensors</p>
    <p (click)="problemDiagramDerivation2()">PDWithSensors</p>
  </details> -->
  <button class="button" (click)="generateSystemBehaviours()">GenerateSystemBehaviours</button>
  <button class="button" (click)="generateScenarioDiagrams()">EnsureRequirements</button>
<!--   
  <details class="detail">
    <summary>CheckInconsistency</summary>
      <p (click)="ruleBasedCheck()">Rule</p>
      <p (click)="formalismBasedCheck()">Formalism</p>
  </details>  -->

  <!-- <details class="detail">
    <summary>CheckSatisfaction</summary>
    <p (click)="generateScenarioDiagrams()">ScenarioDiagrams</p>
    <p (click)="NuSMVCheck()">NuSMVCheck</p>
  </details> -->
  
  <details class="detail">
    <summary>GenerateDeviceInstructions</summary>
    <p (click)="generateIFTTTRules()">IFTTT</p>
    <p (click)="generateDroolsRules()">Drools</p>
    <p (click)="generateOnenetRules()">Onenet</p>
  </details>
  <button class="button" (click)="generateSimulation()">ShowSimulation</button>

  <div id="planing"> Please Choose Your Preference<br/>
    <label><input checked="true" type="radio" name="planingRadio" value="Random">Random</label><br/>
    <label><input type="radio" name="planingRadio" value="SaveEnergy">SaveEnergy</label><br/>
    <button class="button" (click)="generateFunctionalRequirements()">Confirm</button>
    <button class="button" (click)="cancel()">Cancel</button>
  </div>

  <div id="chooseScenario"> Please Choose Your Scenario<br/>
    <label><input checked="true" type="radio" name="scenarioRadio" value="SmartConferenceRoom">SmartConferenceRoom</label><br/>
    <label><input type="radio" name="scenarioRadio" value="SmartHome">SmartHome</label><br/>
    <button class="button" (click)="chooseScenario()">Confirm</button>
    <button class="button" (click)="cancel()">Cancel</button>
  </div>
  <!-- <button class="button" (click)="downloadOntology()">DownloadOntology</button> -->
</div>
