.topbar {
  border-radius: 0;
  align-items: stretch;
  display: flex;
  width: 100%;
  background-color: #34495e;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  min-height: 4rem;
}

.tab {
  position: absolute;
  width: 100%;
  height: 0px;
  background: white;
  z-index: 3;
  overflow: visible;
}

.tab #intermediate {
  display: none;
}

.tab #scenario {
  display: none;
}

.tab #droolsrules {
  display: none;
}

.tab #simulation {
  display: none;
}

ul {
  position: relative;
  margin-left: -40px;
  margin-top: 0px;
}

#tablabel li {
  position: relative;
  height: 4%;
  padding: 0 12px 0 12px;
  text-align: center;
  list-style-type: none;
  float: left;
  display: block;

  list-style-type: none;
  cursor: pointer;
  color: white;
  background: #62a0cc;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  font-size: 12px;
}

#tablabel li:hover {
  opacity: 0.5;
  display: block;
}

#tablabel li:focus {
  background-color: #36648B;
}

#tablabel details {
  position: relative;
  height: 4%;
  padding: 0 12px 0 12px;
  text-align: center;
  list-style-type: none;
  float: left;
  display: block;

  list-style-type: none;
  cursor: pointer;
  color: white;
  background: #62a0cc;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  font-size: 12px;
}

#scenario summary:hover {
  opacity: 0.5;
  display: block;
  cursor: pointer;
}

#scenario p:hover {
  opacity: 0.5;
  display: block;
  cursor: pointer;
}

#scenario ::-webkit-details-marker {
  display: none;
}

#scenario ::-moz-list-bullet {
  font-size: 0;
}

#requirementsPanel {
  position: relative;
  margin-top: 20px;
  width: 98%;
  height: 700px;
  resize: none;
  display: block;
}

#requirementsPanel #templates {
  width: 20%;
  height: 100%;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
}

#requirementsPanel #input_introduction {
  margin-top: -700px;
  margin-left: 20.2%;
  display: block;
}

#requirementsPanel #input_textarea {
  position: relative;
  margin-left: 20.2%;
  width: 80%;
  height: 60%;
  resize: none;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
}

#requirementsPanel #complemented_introduction {
  margin-left: 20.2%;
}

#requirementsPanel #complemented_textarea {
  position: relative;
  margin-top: 2px;
  margin-left: 20.2%;
  width: 80%;
  height: 33%;
  resize: none;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
}

#requirementsPanel #templates ul li {
  font-size: .75vw;
}


#intermediatePanel {
  position: relative;
  margin-top: 20px;
  width: 98%;
  height: 700px;
  display: block;
}

#intermediatePanel #content {
  position: relative;
  width: 80%;
  height: 85%;
  display: block;
  overflow: auto;
  float: left;
}

#intermediatePanel #informationPanel {
  position: relative;
  overflow: auto;
  width: 20%;
  height: 85%;
  display: block;
  float: left;
}

#intermediatePanel #informationPanel .title {
  position: relative;
  width: 100%;
  background: #36648B;
  cursor: pointer;
}

.error_introduction {
  position: relative;
  display: block;
  float: left;
  width: 100%;
}

.errorsPanel {
  position: relative;
  height: 15%;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: auto;
  display: block;
  float: left;
}

.errorsPanel ul li {
  font-size: 1vw;
  height: 7px;
}

#scenarioPanel{
  position: relative;
  margin-top: 20px;
  width: 98%;
  height: 700px;
  display: block;
}

#scenarioPanel #sccontent {
  position: relative;
  height: 85%;
  display: block;
  overflow: auto;
}

#droolsrulesPanel {
  position: relative;
  margin-top: 20px;
  overflow: auto;
  border: 1px solid #000;
  border-radius: 5px;
  width: 98%;
  height: 700px;
  display: block;
}

#simulationPanel {
  position: relative;
  margin-top: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 98%;
  height: 700px;
  display: block;
}

#simulationPanel #video {
  width: 100%;
  height: 100%;
}

.upload {
  position: relative;
}

.change {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.button {
  margin-left: 10px;
  margin-top: 10px;
  color: rgb(12, 11, 11);
  background: #e0e2e4;
  border: 1px solid #ddd;
  cursor: pointer;
  float: left;
}

.button:hover{
  opacity: 0.5;
}

.highlight {
  color: #4b0082;
}

.introduction {
  color: #36648B;
}

.detail {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  padding: 1px 6px;
  display: block;
  float: left;

  list-style-type: none;
  /* cursor: pointer; */
  color: rgb(12, 11, 11);
  background: #e0e2e4;
  border: 1px solid #ddd;
  overflow: hidden;
}

.detail summary {
  text-align: center;
  font-family: Arial;
  font-size: 13.3333px;
}

.detail summary:hover {
  opacity: 0.5;
  cursor: pointer;
}

.detail p{
  font-size: 13.3333px;
}

.detail p:hover {
  opacity: 0.5;
  cursor: pointer;
}

.detail ::-webkit-details-marker {
  display: none;
}

.detail ::-moz-list-bullet {
  font-size: 0;
}

#planing{
  position: absolute;
  width: 250px;
  height: 150px;
  top: 50%;
  left: 50%;
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 5;
  background-color: white;
  display: none;
}
